html {
    font-family: Poppins, sans-serif;
    font-size: 2rem;
}

body {
    padding: 20%;
}

a {
    color: #3d3d3d;
    text-decoration: none;
}

a:visited {
    color: #3d3d3d;
}

a:hover, a:focus {
    text-decoration: underline;
    color: hsl(500, 2%, 55%);
    
}

a:active {
    color: rebeccapurple;
}