body {
    font-size: 2rem; /* probably 32px */
    font-family: Ubuntu, sans-serif;
}

/* basic css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    background-color: #3c3836;
    text-align: right;
}

