/* for instance, most of the times paragraphs will default to 16px, which means that 2rem is = 32px
*/

html {
        font-family: arial, sans-serif;
}

.random-p {
        font-size: 2rem; /*should be 32px*/
}

.random-p-2 {
        font-size: 2em;
}

.warning {
        color: #333;
        background-color: papayawhip;
        padding: 1em;
        border-radius: 0.2em;
        font-size: 1rem;
        display: inline;
        border-left: 10px solid rgb(231, 140, 101);
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}